<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wocai.platform.modules.business.rotation.mapper.MmccRotationChartMapper">

    <select id="queryPage" parameterType="hashmap" resultType="com.wocai.platform.modules.business.rotation.vo.MmccRotationChartRes">
        select t.* from mmcc_rotation_chart t where t.del_flag = 0 order by t.create_time desc
    </select>

</mapper>