<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wocai.platform.modules.business.nurse.mapper.MmccNurseTypeMapper">

    <select id="queryPage" parameterType="hashmap" resultType="com.wocai.platform.modules.business.nurse.vo.MmccNurseTypeRes">
        select t.* from mmcc_nurse_type t where t.del_flag = 0 ORDER BY create_time desc
    </select>

</mapper>