<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wocai.platform.modules.business.publicize.mapper.YzPreRoomMapper">

    <select id="queryPage" parameterType="hashmap" resultType="com.wocai.platform.modules.business.publicize.vo.YzPreRoomRes">
        select t.* from yz_pre_room t where t.del_flag = 0
    </select>

</mapper>